@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MaplestoryOTFBold';
}


/* 사용자 설정 부분 */
:root {
	   --bgColor: #f0f0f0;   /* 배경 색 */
	 --mainColor: #777777;   /* 메인 컬러 */
	--mainColor5: #77777755; /* 공지, 인기글 hover */
	--mainColor3: #77777733; /* 공지, 인기글 */
	--mainColor2: #77777722; /* 트게더 메뉴, 게시글 hover */
	--logoURL: url(https://github.com/koooojy/jpeg/blob/master/kim_lovey/logo.png?raw=true);
	--logoWidth: 200px;	 /* 로고 너비 */
	--before: ""; /* 접속자 수 앞 문구 */
	--after: "";  /* 접속자 수 뒤 문구 */
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

html, body {
  height: auto;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: #4e4e4e;
}

a,
a:hover,
a:focus {
	color: var(--mainColor);
}


/*************** header ***************/

header {
	padding: 0.5em 0 0.5em 0;
}

/* 트게더 로고 ( 없으면 주석처리 하세요 ) */
header .row>div:nth-child(1)>a {
	display: block;
	width: var(--logoWidth);
	height: 50px;
	background: var(--logoURL) no-repeat;
	background-size: auto 50px;
}

/* 기본 트게더 로고 제거 ( 없으면 주석처리 하세요 ) */
header .row>div:nth-child(1) > a > img {
	display: none;
}

/* 검색 창 */
header #right-search-form>input[type='text'] {
	border: 2px solid var(--mainColor);
	transition: 0.2s;
}

header #right-search-form>input[type='text']:hover,
header #right-search-form>input[type='text']:focus {
	transform: scale(1.05);
	transition: 0.2s;
}

/* 검색 버튼 */
header #right-search-form>#right-search-btn {
	color: var(--mainColor);
	transition: 0.2s;
}

header #right-search-form>#right-search-btn:hover,
header #right-search-form>#right-search-btn:focus {
	transform: scale(1.25);
	transition: 0.2s;
}

/* 상단바 */
header #header-bar {
	margin-bottom: 0.5em;
}

/* 상단바 꾸미기 */
header #header-bar>.row {
    border-radius: 4px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: 4px double #ffffff;
    border-bottom: 4px double #ffffff;
    border-right: 0;
    z-index: 200;
    background-image: linear-gradient(to right,#6441a5,#5CD1E5,#e4408b,#ff54fb,#6441a5);
    background-size: 300% auto;
    animation: header-bar 20s infinite ease-in;
}

/* 상단바 그라데이션 애니메이션 */
@keyframes header-bar{
0% {
    background-position: 0 0;
}
100% {
    background-position: 300% 0;
}
}

/* 전광판 */ header #header-bar #header-top-notice strong.notice-badge{
	background: var(--peoplenotice);
}
/* 트게더 알림 */ header #header-bar #header-menu-right #userDropdown #notification-badge {
	background: var(--mainColor);
}


/*************** main ***************/

/* 트게더 메뉴 */
#main .menu-wrapper {
	background: white;
	border: 2px solid var(--mainColor);
	width: 180px;
}

#main .menu-wrapper > a {
	padding: 0.35em 0.5em 0.35em 0.5em;
	letter-spacing: -0.05em;
}

#main .menu-wrapper > a:hover {
	background-color: var(--mainColor2);
}

#main .menu-wrapper .spacer {
	background: var(--mainColor);
	height: 2px;
}

#main .menu-wrapper>.header {
	background: var(--mainColor);
}

#main .menu-wrapper>a{
background: #dddddd;
}

#main .menu-wrapper>a>em,
#main .menu-wrapper>a>i.fa.fa-square {
	color: var(--mainColor);
}

/* 게시글 프레임 */
#main #main-content>div.frame {
	background: transparent;
	border: none;
}


/*************** board ***************/

#board-info {
	margin: 0;
	height: auto;
	background: #dddddd;
	border: 2px solid var(--mainColor);
	margin-bottom: 0.5em;
}

#board-info h1 {
        margin-left: 68px;
	margin-top: 12px;
	font-size: 28px;
	border-bottom: 2px solid var(--mainColor);
	width: calc(100% - 100px); /* 스트리머 게시판 적용시 */
}

#board-info h1>a {
	transition: 0.2s;
}

#board-info h1>a:hover,
#board-info h1>a:focus {
	color: var(--mainColor);
	transition: 0.2s;
}

/* 트게더 스트리머 프로필 사진 변경 */
#board-info #board-info-profile-img{
	border: 2px solid #000000;
    border-radius: 60%;
    width: 75px;
    height: 75px;
    position: absolute;
    top: -15px;
    left: 5px;
	content: url(https://1.bp.blogspot.com/-rb5406REO1s/YGDVb3gmJPI/AAAAAAAABe0/bElhoGYEpc8Kn1mrVR00vbmMkiSuEaLRwCLcBGAsYHQ/s320/21.03.27%25282%2529.gif);
}

#board-info #board-info-bottom{
        margin-left: 68px;
}

#board-info #board-info-bottom a {
	color: var(--mainColor);
	font-size: 14px;
}

#board-info > #board-info-bottom {
	margin-top: 10px;
}

#board-info>img,
#board-info>h1,
#board-info>#board-info-bottom {
	float: left!important;
}

#board-info>img#board-info-profile-img {
        position: absolute;
	    width: 80px;
	    margin-right: 15px;
	    border: 2px solid var(--mainColor);
        border-radius: 0;
	    transition: 0.2s;
        border-radius: 50%;
        float: left !important;
        left: 20px;
        top: 3.5px;
        margin-top: -8.5px;
        margin-left : -8.5px;
}

#board-info #viewers-area #viewers:before {
	content: var(--before);
	cursor: text;
}

#board-info #viewers-area #viewers:after {
	content: var(--after);
	cursor: text;
}



/* 프로필 오버시 부드럽게 커지게*/
#board-info>img#board-info-profile-img:hover {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    -webkit-transform:scale(2);
    -moz-transform:scale(2);
    -ms-transform:scale(2);   
    -o-transform:scale(2);
    transform:scale(2);
}


#board-info #viewers-area, #board-info #score-area{
    font-size: 16px;
    color: rgba(10,59,84,0.4);
    font-weight: normal;
    vertical-align: middle;
    line-height: 18px;
    display: inline-block;
}


/*************** article ***************/

.frame>.frame,
#article-list {
	background: #dddddd;
	border: 2px solid var(--mainColor);
}

/* 공지 숨기기 버튼 */
#article-list #article-option-area {
	right: 2px;
	top: 2px;
}

#article-list #article-option-area> #article-option-area-toggle-btn {
	background: #eaeaea;
	width: 34px;
	height: 34px;
	border: 2px solid;
	transition: 0.2s ease 0s;
	line-height: inherit;
}

/* 카테고리 */
#article-list #article-list-category {
	background: transparent;
	border: none;
	margin-top: 2px;
	margin-bottom: 2px;
}

#article-list #article-list-category>a {
	background: transparent;
  color: var(--mainColor);
	position: relative;
}

#article-list #article-list-category>a::before {
	top: 0;
}

#article-list #article-list-category>a::after {
	bottom: 0;
}

#article-list #article-list-category>a::before,
#article-list #article-list-category>a::after {
	height: 2px;
	width: 100%;
	background: var(--mainColor);
	content: "";
	position: absolute;
	left: 0px;
	transform: scaleX(0);
	transition: 0.3s;
}

#article-list #article-list-category>a:hover::before,
#article-list #article-list-category>a:hover::after {
	transform: scaleX(1);
}

/* 게시글 */
#article-list>.article-list-row {
	border: none;
	transition: 0.2s;
}

#article-list>.article-list-row:hover,
#article-list>.article-list-row:focus {
	background-color: var(--mainColor2);
	transform: scale(1.01);
	transition: 0.2s;
}

#article-list>.article-list-row.hot,
#article-list>.article-list-row.notice {
	background-color: var(--mainColor3);
}

#article-list>.article-list-row.hot:hover,
#article-list>.article-list-row.hot:focus,
#article-list>.article-list-row.notice:hover,
#article-list>.article-list-row.notice:focus {
	background-color: var(--mainColor5);
}

#article-list>.article-list-row>.item>.list-header {
	border-left: none;
}

/* 게시글 추천 수 */
#article-list>.article-list-row>.item>.list-header>span {
	background: var(--mainColor);
}

/* 게시글 추천 수 0 */
#article-list>.article-list-row>.item>.list-header.v0>span,
#article-list>.article-list-row>.item>.list-header.v0>span:hover {
    color: transparent !important;
    background-color: transparent !important;
}

/* 게시글 댓글 수 */
#article-list>.article-list-row>.item>.list-title>small.comment-count {
	color: var(--mainColor);
}

/* 로그인한 게시글 작성자 */
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
	color: var(--mainColor);
}

/* 게시글 검색 창 */
#article-list #boardSearchForm .form-control {
	border-color: var(--mainColor);
}

/* 게시글 본문 */
#article-info {
	background: #dddddd;
	border: 2px solid var(--mainColor);
	border-bottom: 1px;
	margin-top: 0.5em;
}

#article-info>h2 {
	margin-top: 5px;
	margin-left: 5px;
}

#article-info #article-info-writer,
#article-content-wrapper>.header>#article-time {
	margin-left: 8px;
}

#article-content-wrapper>.header>#article-views {
	margin-right: 8px;
}

#article-content-wrapper {
	padding: 0;
	background: #dddddd;
	border: 2px solid var(--mainColor);
	border-bottom: 1px;
}

#article-content-wrapper>.header {
	border-top: none;
	border-bottom: 2px solid var(--mainColor);
	background: transparent;
}

#article-content-wrapper #article-content {
	margin: 0.5em;
	border: none;
}

#article-content-wrapper>.footer {
	border-top: 2px solid var(--mainColor);
  border-bottom: 2px solid var(--mainColor);
  margin-bottom: 0.5em;
	background: #dddddd;;
}

#article-neighbor-list {
    border: 2px solid var(--mainColor);
    background: white;
}

#article-neighbor-list>div:hover,
#article-neighbor-list>div:focus {
	background: linear-gradient(to right, white, var(--mainColor2), white);
}

#article-neighbor-list>div>a,
#article-neighbor-list>div>span.indicator,
#article-neighbor-list>div>span.author {
	color: var(--mainColor);
}

/* 댓글 */
#article-reply-area {
	padding: 0;
	background: #dddddd;
	border: 2px solid var(--mainColor);
  margin-top: 0.5em;
	margin-bottom: 1em;
}

#article-reply-area > .header h5 {
	color: var(--mainColor);
}

#article-reply-area #reply-real-area .reply.active,
#article-reply-area #reply-best-area .reply.active {
	background-color: var(--mainColor2);
}

#article-reply-area #reply-real-area .reply > .reply-header,
#article-reply-area #reply-best-area .reply > .reply-header {
	padding: 0.3em 0.5em;
	background: #fcfcfc;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
	color: var(--mainColor);
}

.fr-popup,
.fr-toolbar.fr-top {
	border-top: 3px solid var(--mainColor);
}

.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
	color: var(--mainColor);
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
	border-top: 4px solid var(--mainColor);
}

/* 별 이미지 변경 */
span.a-badge i.fa.fa-star{
}
.article-list-row i.fa.fa-star {
    animation: rotation 2s infinite;
}
.article-list-row:nth-child(even) i.fa.fa-star {
    animation-delay: 1s;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* 하트색상 */
#article-list>.article-list-row>.item>.list-title>small.favo{
	color: #9400d3;
}

/* 하트모양 바운스 */
.fa-heart:before {
    display: inline-block;
    animation: heartbounce 1s infinite;
}

@keyframes heartbounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  15% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  45% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/* 트게더 페이지 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:focus {
	background-color: var(--mainColor);
	border-color: var(--mainColor);
	transition: 0.2s;
}
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>li>a:hover,
.pagination>li>span:hover {
	background-color: white;
	border-color: var(--mainColor);
	color: var(--mainColor);
	transition: 0.2s;
}
.pagination>li>a,
.pagination>li>a:focus,
.pagination>li>span
.pagination>li>span:focus {
	color: var(--mainColor);
	background: transparent;
	transition: 0.2s;
}

/* 드롭다운 */
.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
	opacity: unset;
	transform: unset;
    background: #dddddd;
	border: 2px solid var(--mainColor);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.275);
}

.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
	display: block !important;
	opacity: 0;
	transform: scale(0);
	transform-origin: top;
	transition: all 0.4s cubic-bezier(0.18, 1.5, 0, 1);
	padding: 8px 0 3px 0px;
}

.dropdown-menu>li>a {
	transition: 0.1s;
}

.dropdown-menu>li>a:hover {
	background: transparent;
	transform: scaleX(1.04);
	transition: 0.1s;
}

#latestDropdownMenu>li>a>span.delrow,
#favoriteDropdownMenu>li>a>span.delrow {
	color: var(--mainColor);
}

#latestDropdownMenu>li>a>span.delrow:hover,
#favoriteDropdownMenu>li>a>span.delrow:hover {
	background: transparent;
}

#favoriteDropdownMenu>li>a>span.label.label-default {
	background-color: var(--mainColor);
}

.dropdown-menu .divider {
	background-color: var(--mainColor);
	height: 2px;
	margin: 3px 0;
}

/* 버튼 */
.btn {
	color: #fff !important;
	background-color: var(--mainColor) !important;
	border-color: var(--mainColor) !important;
  border-radius: 0;
	transition: 0.2s;
}

.btn:hover,
.btn:focus {
	color: var(--mainColor) !important;
	background-color: #fff !important;
}

.btn.square {
	margin-right: -2px;
}


/* 마우스 커서 기본 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
 {
 cursor: url(https://github.com/koooojy/jpeg/blob/master/kim_lovey/kimlovDog.png?raw=true) 0 0, auto !important;
}


/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
 cursor: url(https://github.com/koooojy/jpeg/blob/master/kim_lovey/kimlovDog.png?raw=true) 0 0, auto !important;
}



/* 마우스 커서 텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
 {
 cursor: url(https://github.com/koooojy/jpeg/blob/master/kim_lovey/kimlovDog.png?raw=true) 0 0, auto !important;
}



/* 최상단 이동 이미지로 변경 */
#movetotop img{
  display: none;
}

#movetotop {
   display: inline-block;
    opacity: 1;
    background: url(https://1.bp.blogspot.com/-vdiupD4U9pk/YGyd3LO_ryI/AAAAAAAABmM/yMmHErJX0QYgWv9PVBhBXWbQy4nl3jL-gCLcBGAsYHQ/s320/21.04.05%252812%2529.gif);
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}











<style>

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1717px 88px #FFF , 604px 811px #FFF , 215px 1395px #FFF , 49px 377px #FFF , 1612px 1475px #FFF , 723px 251px #FFF , 1036px 1125px #FFF , 1131px 1269px #FFF , 1255px 108px #FFF , 1507px 1432px #FFF , 1258px 1606px #FFF , 1272px 567px #FFF , 1456px 1317px #FFF , 1643px 1987px #FFF , 279px 891px #FFF , 1443px 1010px #FFF , 384px 561px #FFF , 1763px 1251px #FFF , 1013px 176px #FFF , 1580px 459px #FFF , 487px 1009px #FFF , 1830px 1403px #FFF , 1602px 1586px #FFF , 1082px 934px #FFF , 1234px 1616px #FFF , 1458px 981px #FFF , 1283px 831px #FFF , 1011px 159px #FFF , 392px 1214px #FFF , 364px 48px #FFF , 202px 751px #FFF , 1842px 1162px #FFF , 1219px 951px #FFF , 48px 48px #FFF , 727px 1108px #FFF , 1540px 260px #FFF , 192px 1386px #FFF , 1800px 850px #FFF , 109px 138px #FFF , 143px 47px #FFF , 922px 1430px #FFF , 1017px 1309px #FFF , 877px 828px #FFF , 791px 1222px #FFF , 1079px 269px #FFF , 708px 1269px #FFF , 532px 351px #FFF , 1619px 1871px #FFF , 780px 1451px #FFF , 1763px 1678px #FFF , 441px 473px #FFF , 1108px 1971px #FFF , 1471px 833px #FFF , 1493px 250px #FFF , 1495px 1586px #FFF , 187px 1138px #FFF , 422px 752px #FFF , 571px 473px #FFF , 243px 1612px #FFF , 1734px 575px #FFF , 434px 1076px #FFF , 203px 1400px #FFF , 1772px 1597px #FFF , 582px 1185px #FFF , 1823px 1779px #FFF , 585px 907px #FFF , 1443px 612px #FFF , 86px 384px #FFF , 619px 609px #FFF , 879px 803px #FFF , 1197px 1911px #FFF , 1827px 613px #FFF , 1063px 1653px #FFF , 863px 1830px #FFF , 1704px 1756px #FFF , 1722px 903px #FFF , 134px 1468px #FFF , 1432px 106px #FFF , 1427px 1125px #FFF , 1584px 155px #FFF , 1475px 1215px #FFF , 1398px 750px #FFF , 159px 798px #FFF , 1046px 1966px #FFF , 1317px 630px #FFF , 1605px 1184px #FFF , 1127px 1273px #FFF , 511px 714px #FFF , 1457px 952px #FFF , 1890px 1539px #FFF , 488px 1859px #FFF , 43px 1742px #FFF , 332px 1856px #FFF , 489px 814px #FFF , 85px 927px #FFF , 1247px 214px #FFF , 1357px 1496px #FFF , 1418px 933px #FFF , 1891px 407px #FFF , 505px 1767px #FFF , 1813px 510px #FFF , 1520px 1683px #FFF , 1975px 961px #FFF , 94px 1444px #FFF , 1904px 1461px #FFF , 1050px 921px #FFF , 845px 1882px #FFF , 1732px 1629px #FFF , 1917px 1697px #FFF , 313px 659px #FFF , 1063px 1183px #FFF , 932px 590px #FFF , 821px 161px #FFF , 1121px 1160px #FFF , 299px 212px #FFF , 1290px 118px #FFF , 952px 1136px #FFF , 807px 1437px #FFF , 449px 1372px #FFF , 926px 397px #FFF , 1056px 1758px #FFF , 56px 1026px #FFF , 1610px 458px #FFF , 864px 202px #FFF , 1541px 472px #FFF , 1253px 627px #FFF , 985px 832px #FFF , 1526px 777px #FFF , 1721px 145px #FFF , 371px 1636px #FFF , 1619px 1888px #FFF , 853px 1674px #FFF , 468px 1023px #FFF , 210px 59px #FFF , 169px 1690px #FFF , 1679px 1400px #FFF , 1974px 320px #FFF , 1847px 874px #FFF , 127px 581px #FFF , 1399px 1873px #FFF , 217px 521px #FFF , 75px 527px #FFF , 189px 1517px #FFF , 173px 767px #FFF , 806px 577px #FFF , 1957px 678px #FFF , 1203px 1013px #FFF , 1122px 520px #FFF , 1480px 993px #FFF , 164px 972px #FFF , 245px 1730px #FFF , 1477px 1080px #FFF , 446px 133px #FFF , 1946px 1471px #FFF , 221px 1252px #FFF , 1083px 947px #FFF , 1597px 487px #FFF , 944px 529px #FFF , 1380px 1443px #FFF , 372px 583px #FFF , 1727px 1025px #FFF , 1209px 1143px #FFF , 294px 1305px #FFF , 86px 1871px #FFF , 1247px 350px #FFF , 225px 1967px #FFF , 1496px 1564px #FFF , 1155px 1136px #FFF , 1806px 1570px #FFF , 883px 719px #FFF , 265px 1711px #FFF , 1536px 109px #FFF , 627px 909px #FFF , 1109px 1120px #FFF , 98px 609px #FFF , 184px 1435px #FFF , 1203px 513px #FFF , 1461px 261px #FFF , 1245px 55px #FFF , 768px 578px #FFF , 101px 448px #FFF , 233px 88px #FFF , 1202px 1120px #FFF , 1099px 387px #FFF , 31px 1834px #FFF , 1944px 372px #FFF , 47px 96px #FFF , 1046px 869px #FFF , 252px 711px #FFF , 1199px 1361px #FFF , 1855px 20px #FFF , 367px 750px #FFF , 174px 995px #FFF , 1288px 136px #FFF , 1233px 1441px #FFF , 659px 1132px #FFF , 1551px 611px #FFF , 606px 1955px #FFF , 1229px 1661px #FFF , 1266px 1938px #FFF , 1316px 60px #FFF , 1356px 1823px #FFF , 454px 75px #FFF , 792px 570px #FFF , 807px 1721px #FFF , 1828px 259px #FFF , 785px 888px #FFF , 1664px 1483px #FFF , 575px 66px #FFF , 1108px 1246px #FFF , 631px 1613px #FFF , 1550px 1810px #FFF , 1731px 483px #FFF , 2000px 1519px #FFF , 1214px 549px #FFF , 650px 1600px #FFF , 762px 127px #FFF , 1256px 1399px #FFF , 1160px 1695px #FFF , 774px 1930px #FFF , 1369px 611px #FFF , 520px 1781px #FFF , 1369px 24px #FFF , 1666px 542px #FFF , 697px 898px #FFF , 1950px 74px #FFF , 590px 278px #FFF , 546px 1177px #FFF , 1764px 713px #FFF , 727px 748px #FFF , 899px 1309px #FFF , 740px 333px #FFF , 885px 28px #FFF , 1121px 431px #FFF , 1394px 1685px #FFF , 612px 654px #FFF , 213px 1979px #FFF , 392px 254px #FFF , 405px 1808px #FFF , 174px 151px #FFF , 965px 709px #FFF , 136px 1002px #FFF , 1575px 1629px #FFF , 1335px 950px #FFF , 834px 1977px #FFF , 55px 321px #FFF , 1196px 1735px #FFF , 1282px 28px #FFF , 268px 1785px #FFF , 641px 1072px #FFF , 1469px 761px #FFF , 1787px 765px #FFF , 505px 779px #FFF , 1665px 1701px #FFF , 64px 1875px #FFF , 331px 1524px #FFF , 702px 1892px #FFF , 238px 1856px #FFF , 1471px 367px #FFF , 90px 1033px #FFF , 764px 355px #FFF , 1676px 1766px #FFF , 1227px 1102px #FFF , 531px 949px #FFF , 496px 246px #FFF , 1776px 120px #FFF , 872px 1995px #FFF , 1675px 536px #FFF , 1311px 170px #FFF , 168px 1953px #FFF , 485px 411px #FFF , 992px 1891px #FFF , 1423px 461px #FFF , 1998px 1261px #FFF , 1116px 1275px #FFF , 739px 396px #FFF , 918px 753px #FFF , 587px 1035px #FFF , 628px 468px #FFF , 934px 1900px #FFF , 1168px 16px #FFF , 1753px 1323px #FFF , 385px 1737px #FFF , 163px 535px #FFF , 1000px 688px #FFF , 518px 471px #FFF , 1404px 1341px #FFF , 162px 1038px #FFF , 1516px 320px #FFF , 39px 1028px #FFF , 20px 719px #FFF , 316px 1975px #FFF , 844px 1972px #FFF , 356px 1255px #FFF , 1822px 995px #FFF , 1224px 1185px #FFF , 1744px 1968px #FFF , 1956px 1918px #FFF , 1169px 1789px #FFF , 1664px 1110px #FFF , 297px 462px #FFF , 1031px 391px #FFF , 882px 1731px #FFF , 1227px 818px #FFF , 213px 1271px #FFF , 385px 716px #FFF , 1708px 1759px #FFF , 1700px 238px #FFF , 710px 966px #FFF , 900px 304px #FFF , 1826px 1238px #FFF , 1231px 1470px #FFF , 275px 918px #FFF , 1160px 1891px #FFF , 646px 1px #FFF , 1860px 645px #FFF , 838px 467px #FFF , 459px 1962px #FFF , 1765px 122px #FFF , 381px 1466px #FFF , 365px 1575px #FFF , 294px 1172px #FFF , 739px 1910px #FFF , 1431px 1694px #FFF , 321px 1287px #FFF , 1262px 259px #FFF , 1284px 1843px #FFF , 1027px 683px #FFF , 1961px 1668px #FFF , 1743px 1324px #FFF , 1940px 7px #FFF , 427px 696px #FFF , 1120px 276px #FFF , 686px 1043px #FFF , 1812px 1392px #FFF , 68px 150px #FFF , 176px 882px #FFF , 1907px 522px #FFF , 1721px 1152px #FFF , 973px 761px #FFF , 842px 1161px #FFF , 1447px 1909px #FFF , 623px 1381px #FFF , 209px 1010px #FFF , 1909px 1315px #FFF , 1204px 1945px #FFF , 29px 705px #FFF , 56px 105px #FFF , 462px 1842px #FFF , 1132px 236px #FFF , 918px 1589px #FFF , 86px 1127px #FFF , 416px 1856px #FFF , 1219px 1833px #FFF , 410px 1536px #FFF , 1483px 107px #FFF , 768px 1837px #FFF , 459px 489px #FFF , 345px 1715px #FFF , 1509px 1413px #FFF , 44px 1204px #FFF , 1209px 895px #FFF , 893px 735px #FFF , 1327px 310px #FFF , 141px 1318px #FFF , 164px 536px #FFF , 62px 1026px #FFF , 1484px 1506px #FFF , 731px 871px #FFF , 1491px 1503px #FFF , 1175px 730px #FFF , 904px 925px #FFF , 481px 828px #FFF , 1626px 1417px #FFF , 1942px 1143px #FFF , 262px 1256px #FFF , 1550px 799px #FFF , 1957px 984px #FFF , 252px 1896px #FFF , 1261px 1894px #FFF , 264px 737px #FFF , 708px 1365px #FFF , 175px 359px #FFF , 53px 83px #FFF , 1253px 944px #FFF , 1337px 727px #FFF , 1696px 1822px #FFF , 2px 1944px #FFF , 426px 1203px #FFF , 1168px 1563px #FFF , 1294px 1174px #FFF , 1475px 1493px #FFF , 741px 288px #FFF , 1012px 289px #FFF , 1116px 739px #FFF , 826px 655px #FFF , 808px 1971px #FFF , 246px 1978px #FFF , 724px 151px #FFF , 1734px 217px #FFF , 1658px 300px #FFF , 219px 837px #FFF , 1351px 588px #FFF , 1391px 142px #FFF , 88px 973px #FFF , 1749px 1980px #FFF , 1140px 183px #FFF , 841px 492px #FFF , 1436px 333px #FFF , 310px 1053px #FFF , 1330px 527px #FFF , 1594px 988px #FFF , 25px 310px #FFF , 1916px 1524px #FFF , 63px 863px #FFF , 80px 431px #FFF , 1925px 1019px #FFF , 614px 1110px #FFF , 386px 1110px #FFF , 747px 1750px #FFF , 1150px 644px #FFF , 819px 1442px #FFF , 403px 758px #FFF , 1799px 1235px #FFF , 1387px 17px #FFF , 1814px 712px #FFF , 152px 427px #FFF , 451px 1561px #FFF , 245px 1756px #FFF , 706px 1947px #FFF , 664px 22px #FFF , 1497px 1304px #FFF , 770px 901px #FFF , 1795px 391px #FFF , 357px 1999px #FFF , 208px 908px #FFF , 442px 766px #FFF , 459px 906px #FFF , 545px 1905px #FFF , 938px 1557px #FFF , 56px 1882px #FFF , 423px 484px #FFF , 1346px 1px #FFF , 1882px 168px #FFF , 1023px 1987px #FFF , 507px 887px #FFF , 723px 1207px #FFF , 592px 108px #FFF , 1125px 1883px #FFF , 1428px 201px #FFF , 1510px 96px #FFF , 1787px 989px #FFF , 880px 215px #FFF , 1489px 540px #FFF , 1303px 1775px #FFF , 1840px 1271px #FFF , 579px 70px #FFF , 1184px 645px #FFF , 926px 288px #FFF , 297px 1066px #FFF , 470px 1443px #FFF , 789px 1541px #FFF , 71px 1782px #FFF , 461px 827px #FFF , 1284px 1847px #FFF , 428px 1678px #FFF , 1131px 1396px #FFF , 638px 853px #FFF , 514px 885px #FFF , 291px 1305px #FFF , 1493px 421px #FFF , 1271px 483px #FFF , 1584px 1370px #FFF , 629px 1727px #FFF , 1350px 1395px #FFF , 838px 896px #FFF , 1499px 729px #FFF , 494px 53px #FFF , 587px 999px #FFF , 138px 807px #FFF , 1521px 1483px #FFF , 1651px 31px #FFF , 1603px 806px #FFF , 298px 1711px #FFF , 17px 286px #FFF , 1553px 1561px #FFF , 1053px 1234px #FFF , 1217px 1336px #FFF , 1402px 1670px #FFF , 1671px 1436px #FFF , 1587px 1065px #FFF , 1063px 1376px #FFF , 812px 56px #FFF , 1336px 1781px #FFF , 950px 252px #FFF , 1412px 1934px #FFF , 1976px 1144px #FFF , 1818px 994px #FFF , 1120px 319px #FFF , 333px 541px #FFF , 1370px 71px #FFF , 958px 1424px #FFF , 291px 1600px #FFF , 1209px 444px #FFF , 934px 614px #FFF , 1767px 1802px #FFF , 1337px 860px #FFF , 48px 907px #FFF , 1470px 721px #FFF , 778px 924px #FFF , 674px 1170px #FFF , 949px 846px #FFF , 1118px 558px #FFF , 1072px 661px #FFF , 1857px 119px #FFF , 1620px 1531px #FFF , 323px 1869px #FFF , 1599px 1596px #FFF , 747px 1304px #FFF , 1903px 1535px #FFF , 712px 1269px #FFF , 1999px 822px #FFF , 1490px 111px #FFF , 1516px 1507px #FFF , 439px 45px #FFF , 1519px 1601px #FFF , 200px 1364px #FFF , 158px 1334px #FFF , 1037px 1463px #FFF , 1866px 1943px #FFF , 960px 928px #FFF , 1130px 144px #FFF , 1956px 1678px #FFF , 1121px 398px #FFF , 1228px 318px #FFF , 1693px 1658px #FFF , 1187px 329px #FFF , 642px 1469px #FFF , 1136px 1680px #FFF , 752px 1847px #FFF , 1459px 1290px #FFF , 1679px 975px #FFF , 80px 935px #FFF , 534px 680px #FFF , 359px 239px #FFF , 1717px 1047px #FFF , 1951px 180px #FFF , 1204px 539px #FFF , 1446px 826px #FFF , 337px 975px #FFF , 1669px 133px #FFF , 1589px 877px #FFF , 152px 981px #FFF , 42px 1620px #FFF , 1785px 248px #FFF , 1504px 594px #FFF , 1245px 924px #FFF , 523px 1600px #FFF , 1973px 283px #FFF , 1806px 1460px #FFF , 1238px 352px #FFF , 1914px 1824px #FFF , 1142px 341px #FFF , 1533px 1392px #FFF , 81px 108px #FFF , 632px 1426px #FFF , 1742px 1883px #FFF , 204px 1524px #FFF , 815px 1800px #FFF , 1657px 1601px #FFF , 84px 245px #FFF , 1428px 662px #FFF , 665px 468px #FFF , 724px 1275px #FFF , 1766px 1232px #FFF , 270px 1027px #FFF , 993px 1565px #FFF , 24px 1990px #FFF , 39px 941px #FFF , 437px 1502px #FFF , 1346px 1333px #FFF , 567px 162px #FFF , 1823px 480px #FFF , 562px 471px #FFF , 513px 689px #FFF , 266px 351px #FFF , 939px 1351px #FFF , 914px 65px #FFF , 600px 858px #FFF , 426px 429px #FFF , 1215px 1635px #FFF , 1036px 642px #FFF , 1105px 689px #FFF , 21px 343px #FFF , 1006px 1991px #FFF , 59px 811px #FFF , 1221px 618px #FFF , 1019px 401px #FFF , 1344px 223px #FFF , 1347px 1832px #FFF , 1861px 1577px #FFF , 385px 1376px #FFF , 587px 357px #FFF , 1075px 1719px #FFF , 544px 1079px #FFF , 1274px 128px #FFF , 445px 603px #FFF , 1730px 1530px #FFF , 495px 538px #FFF , 653px 947px #FFF , 658px 549px #FFF , 1578px 1867px #FFF , 1px 1393px #FFF , 651px 1780px #FFF , 344px 38px #FFF , 166px 731px #FFF , 1919px 305px #FFF , 35px 567px #FFF , 258px 1434px #FFF , 1344px 307px #FFF , 1320px 1657px #FFF , 1988px 646px #FFF , 1493px 541px #FFF , 1013px 1564px #FFF , 897px 1931px #FFF , 274px 376px #FFF , 1806px 202px #FFF , 1297px 788px #FFF , 1460px 1647px #FFF , 1257px 466px #FFF , 1146px 1312px #FFF , 306px 1326px #FFF , 1177px 1456px #FFF , 1041px 1764px #FFF , 1084px 1993px #FFF , 1162px 1207px #FFF , 1218px 1309px #FFF , 182px 1140px #FFF , 644px 305px #FFF , 1596px 956px #FFF , 1571px 895px #FFF , 1629px 843px #FFF , 245px 1549px #FFF , 1990px 345px #FFF , 436px 896px #FFF , 678px 193px #FFF , 501px 997px #FFF , 1751px 1972px #FFF , 1632px 1942px #FFF , 311px 1223px #FFF , 392px 62px #FFF , 1674px 978px #FFF , 1478px 1963px #FFF , 711px 515px #FFF , 33px 845px #FFF , 1295px 1401px #FFF , 155px 357px #FFF , 1669px 105px #FFF , 568px 1198px #FFF , 1078px 76px #FFF , 681px 1737px #FFF , 214px 1562px #FFF , 1847px 630px #FFF , 1784px 1561px #FFF , 752px 1396px #FFF , 57px 336px #FFF , 502px 602px #FFF , 1752px 1556px #FFF , 610px 1216px #FFF , 957px 1426px #FFF , 885px 906px #FFF , 438px 620px #FFF , 1783px 820px #FFF , 1880px 369px #FFF , 978px 409px #FFF , 1370px 10px #FFF , 213px 368px #FFF , 246px 1992px #FFF , 109px 493px #FFF , 1795px 600px #FFF , 1879px 1138px #FFF , 677px 176px #FFF , 76px 205px #FFF , 191px 1910px #FFF , 1295px 1937px #FFF , 563px 1954px #FFF , 384px 838px #FFF , 419px 1662px #FFF , 241px 288px #FFF , 67px 1816px #FFF , 1774px 632px #FFF , 1509px 303px #FFF , 715px 920px #FFF , 749px 1200px #FFF , 1224px 1684px #FFF , 1408px 1243px #FFF , 1326px 763px #FFF , 104px 1958px #FFF , 1808px 114px #FFF , 95px 990px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: -2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1717px 88px #FFF , 604px 811px #FFF , 215px 1395px #FFF , 49px 377px #FFF , 1612px 1475px #FFF , 723px 251px #FFF , 1036px 1125px #FFF , 1131px 1269px #FFF , 1255px 108px #FFF , 1507px 1432px #FFF , 1258px 1606px #FFF , 1272px 567px #FFF , 1456px 1317px #FFF , 1643px 1987px #FFF , 279px 891px #FFF , 1443px 1010px #FFF , 384px 561px #FFF , 1763px 1251px #FFF , 1013px 176px #FFF , 1580px 459px #FFF , 487px 1009px #FFF , 1830px 1403px #FFF , 1602px 1586px #FFF , 1082px 934px #FFF , 1234px 1616px #FFF , 1458px 981px #FFF , 1283px 831px #FFF , 1011px 159px #FFF , 392px 1214px #FFF , 364px 48px #FFF , 202px 751px #FFF , 1842px 1162px #FFF , 1219px 951px #FFF , 48px 48px #FFF , 727px 1108px #FFF , 1540px 260px #FFF , 192px 1386px #FFF , 1800px 850px #FFF , 109px 138px #FFF , 143px 47px #FFF , 922px 1430px #FFF , 1017px 1309px #FFF , 877px 828px #FFF , 791px 1222px #FFF , 1079px 269px #FFF , 708px 1269px #FFF , 532px 351px #FFF , 1619px 1871px #FFF , 780px 1451px #FFF , 1763px 1678px #FFF , 441px 473px #FFF , 1108px 1971px #FFF , 1471px 833px #FFF , 1493px 250px #FFF , 1495px 1586px #FFF , 187px 1138px #FFF , 422px 752px #FFF , 571px 473px #FFF , 243px 1612px #FFF , 1734px 575px #FFF , 434px 1076px #FFF , 203px 1400px #FFF , 1772px 1597px #FFF , 582px 1185px #FFF , 1823px 1779px #FFF , 585px 907px #FFF , 1443px 612px #FFF , 86px 384px #FFF , 619px 609px #FFF , 879px 803px #FFF , 1197px 1911px #FFF , 1827px 613px #FFF , 1063px 1653px #FFF , 863px 1830px #FFF , 1704px 1756px #FFF , 1722px 903px #FFF , 134px 1468px #FFF , 1432px 106px #FFF , 1427px 1125px #FFF , 1584px 155px #FFF , 1475px 1215px #FFF , 1398px 750px #FFF , 159px 798px #FFF , 1046px 1966px #FFF , 1317px 630px #FFF , 1605px 1184px #FFF , 1127px 1273px #FFF , 511px 714px #FFF , 1457px 952px #FFF , 1890px 1539px #FFF , 488px 1859px #FFF , 43px 1742px #FFF , 332px 1856px #FFF , 489px 814px #FFF , 85px 927px #FFF , 1247px 214px #FFF , 1357px 1496px #FFF , 1418px 933px #FFF , 1891px 407px #FFF , 505px 1767px #FFF , 1813px 510px #FFF , 1520px 1683px #FFF , 1975px 961px #FFF , 94px 1444px #FFF , 1904px 1461px #FFF , 1050px 921px #FFF , 845px 1882px #FFF , 1732px 1629px #FFF , 1917px 1697px #FFF , 313px 659px #FFF , 1063px 1183px #FFF , 932px 590px #FFF , 821px 161px #FFF , 1121px 1160px #FFF , 299px 212px #FFF , 1290px 118px #FFF , 952px 1136px #FFF , 807px 1437px #FFF , 449px 1372px #FFF , 926px 397px #FFF , 1056px 1758px #FFF , 56px 1026px #FFF , 1610px 458px #FFF , 864px 202px #FFF , 1541px 472px #FFF , 1253px 627px #FFF , 985px 832px #FFF , 1526px 777px #FFF , 1721px 145px #FFF , 371px 1636px #FFF , 1619px 1888px #FFF , 853px 1674px #FFF , 468px 1023px #FFF , 210px 59px #FFF , 169px 1690px #FFF , 1679px 1400px #FFF , 1974px 320px #FFF , 1847px 874px #FFF , 127px 581px #FFF , 1399px 1873px #FFF , 217px 521px #FFF , 75px 527px #FFF , 189px 1517px #FFF , 173px 767px #FFF , 806px 577px #FFF , 1957px 678px #FFF , 1203px 1013px #FFF , 1122px 520px #FFF , 1480px 993px #FFF , 164px 972px #FFF , 245px 1730px #FFF , 1477px 1080px #FFF , 446px 133px #FFF , 1946px 1471px #FFF , 221px 1252px #FFF , 1083px 947px #FFF , 1597px 487px #FFF , 944px 529px #FFF , 1380px 1443px #FFF , 372px 583px #FFF , 1727px 1025px #FFF , 1209px 1143px #FFF , 294px 1305px #FFF , 86px 1871px #FFF , 1247px 350px #FFF , 225px 1967px #FFF , 1496px 1564px #FFF , 1155px 1136px #FFF , 1806px 1570px #FFF , 883px 719px #FFF , 265px 1711px #FFF , 1536px 109px #FFF , 627px 909px #FFF , 1109px 1120px #FFF , 98px 609px #FFF , 184px 1435px #FFF , 1203px 513px #FFF , 1461px 261px #FFF , 1245px 55px #FFF , 768px 578px #FFF , 101px 448px #FFF , 233px 88px #FFF , 1202px 1120px #FFF , 1099px 387px #FFF , 31px 1834px #FFF , 1944px 372px #FFF , 47px 96px #FFF , 1046px 869px #FFF , 252px 711px #FFF , 1199px 1361px #FFF , 1855px 20px #FFF , 367px 750px #FFF , 174px 995px #FFF , 1288px 136px #FFF , 1233px 1441px #FFF , 659px 1132px #FFF , 1551px 611px #FFF , 606px 1955px #FFF , 1229px 1661px #FFF , 1266px 1938px #FFF , 1316px 60px #FFF , 1356px 1823px #FFF , 454px 75px #FFF , 792px 570px #FFF , 807px 1721px #FFF , 1828px 259px #FFF , 785px 888px #FFF , 1664px 1483px #FFF , 575px 66px #FFF , 1108px 1246px #FFF , 631px 1613px #FFF , 1550px 1810px #FFF , 1731px 483px #FFF , 2000px 1519px #FFF , 1214px 549px #FFF , 650px 1600px #FFF , 762px 127px #FFF , 1256px 1399px #FFF , 1160px 1695px #FFF , 774px 1930px #FFF , 1369px 611px #FFF , 520px 1781px #FFF , 1369px 24px #FFF , 1666px 542px #FFF , 697px 898px #FFF , 1950px 74px #FFF , 590px 278px #FFF , 546px 1177px #FFF , 1764px 713px #FFF , 727px 748px #FFF , 899px 1309px #FFF , 740px 333px #FFF , 885px 28px #FFF , 1121px 431px #FFF , 1394px 1685px #FFF , 612px 654px #FFF , 213px 1979px #FFF , 392px 254px #FFF , 405px 1808px #FFF , 174px 151px #FFF , 965px 709px #FFF , 136px 1002px #FFF , 1575px 1629px #FFF , 1335px 950px #FFF , 834px 1977px #FFF , 55px 321px #FFF , 1196px 1735px #FFF , 1282px 28px #FFF , 268px 1785px #FFF , 641px 1072px #FFF , 1469px 761px #FFF , 1787px 765px #FFF , 505px 779px #FFF , 1665px 1701px #FFF , 64px 1875px #FFF , 331px 1524px #FFF , 702px 1892px #FFF , 238px 1856px #FFF , 1471px 367px #FFF , 90px 1033px #FFF , 764px 355px #FFF , 1676px 1766px #FFF , 1227px 1102px #FFF , 531px 949px #FFF , 496px 246px #FFF , 1776px 120px #FFF , 872px 1995px #FFF , 1675px 536px #FFF , 1311px 170px #FFF , 168px 1953px #FFF , 485px 411px #FFF , 992px 1891px #FFF , 1423px 461px #FFF , 1998px 1261px #FFF , 1116px 1275px #FFF , 739px 396px #FFF , 918px 753px #FFF , 587px 1035px #FFF , 628px 468px #FFF , 934px 1900px #FFF , 1168px 16px #FFF , 1753px 1323px #FFF , 385px 1737px #FFF , 163px 535px #FFF , 1000px 688px #FFF , 518px 471px #FFF , 1404px 1341px #FFF , 162px 1038px #FFF , 1516px 320px #FFF , 39px 1028px #FFF , 20px 719px #FFF , 316px 1975px #FFF , 844px 1972px #FFF , 356px 1255px #FFF , 1822px 995px #FFF , 1224px 1185px #FFF , 1744px 1968px #FFF , 1956px 1918px #FFF , 1169px 1789px #FFF , 1664px 1110px #FFF , 297px 462px #FFF , 1031px 391px #FFF , 882px 1731px #FFF , 1227px 818px #FFF , 213px 1271px #FFF , 385px 716px #FFF , 1708px 1759px #FFF , 1700px 238px #FFF , 710px 966px #FFF , 900px 304px #FFF , 1826px 1238px #FFF , 1231px 1470px #FFF , 275px 918px #FFF , 1160px 1891px #FFF , 646px 1px #FFF , 1860px 645px #FFF , 838px 467px #FFF , 459px 1962px #FFF , 1765px 122px #FFF , 381px 1466px #FFF , 365px 1575px #FFF , 294px 1172px #FFF , 739px 1910px #FFF , 1431px 1694px #FFF , 321px 1287px #FFF , 1262px 259px #FFF , 1284px 1843px #FFF , 1027px 683px #FFF , 1961px 1668px #FFF , 1743px 1324px #FFF , 1940px 7px #FFF , 427px 696px #FFF , 1120px 276px #FFF , 686px 1043px #FFF , 1812px 1392px #FFF , 68px 150px #FFF , 176px 882px #FFF , 1907px 522px #FFF , 1721px 1152px #FFF , 973px 761px #FFF , 842px 1161px #FFF , 1447px 1909px #FFF , 623px 1381px #FFF , 209px 1010px #FFF , 1909px 1315px #FFF , 1204px 1945px #FFF , 29px 705px #FFF , 56px 105px #FFF , 462px 1842px #FFF , 1132px 236px #FFF , 918px 1589px #FFF , 86px 1127px #FFF , 416px 1856px #FFF , 1219px 1833px #FFF , 410px 1536px #FFF , 1483px 107px #FFF , 768px 1837px #FFF , 459px 489px #FFF , 345px 1715px #FFF , 1509px 1413px #FFF , 44px 1204px #FFF , 1209px 895px #FFF , 893px 735px #FFF , 1327px 310px #FFF , 141px 1318px #FFF , 164px 536px #FFF , 62px 1026px #FFF , 1484px 1506px #FFF , 731px 871px #FFF , 1491px 1503px #FFF , 1175px 730px #FFF , 904px 925px #FFF , 481px 828px #FFF , 1626px 1417px #FFF , 1942px 1143px #FFF , 262px 1256px #FFF , 1550px 799px #FFF , 1957px 984px #FFF , 252px 1896px #FFF , 1261px 1894px #FFF , 264px 737px #FFF , 708px 1365px #FFF , 175px 359px #FFF , 53px 83px #FFF , 1253px 944px #FFF , 1337px 727px #FFF , 1696px 1822px #FFF , 2px 1944px #FFF , 426px 1203px #FFF , 1168px 1563px #FFF , 1294px 1174px #FFF , 1475px 1493px #FFF , 741px 288px #FFF , 1012px 289px #FFF , 1116px 739px #FFF , 826px 655px #FFF , 808px 1971px #FFF , 246px 1978px #FFF , 724px 151px #FFF , 1734px 217px #FFF , 1658px 300px #FFF , 219px 837px #FFF , 1351px 588px #FFF , 1391px 142px #FFF , 88px 973px #FFF , 1749px 1980px #FFF , 1140px 183px #FFF , 841px 492px #FFF , 1436px 333px #FFF , 310px 1053px #FFF , 1330px 527px #FFF , 1594px 988px #FFF , 25px 310px #FFF , 1916px 1524px #FFF , 63px 863px #FFF , 80px 431px #FFF , 1925px 1019px #FFF , 614px 1110px #FFF , 386px 1110px #FFF , 747px 1750px #FFF , 1150px 644px #FFF , 819px 1442px #FFF , 403px 758px #FFF , 1799px 1235px #FFF , 1387px 17px #FFF , 1814px 712px #FFF , 152px 427px #FFF , 451px 1561px #FFF , 245px 1756px #FFF , 706px 1947px #FFF , 664px 22px #FFF , 1497px 1304px #FFF , 770px 901px #FFF , 1795px 391px #FFF , 357px 1999px #FFF , 208px 908px #FFF , 442px 766px #FFF , 459px 906px #FFF , 545px 1905px #FFF , 938px 1557px #FFF , 56px 1882px #FFF , 423px 484px #FFF , 1346px 1px #FFF , 1882px 168px #FFF , 1023px 1987px #FFF , 507px 887px #FFF , 723px 1207px #FFF , 592px 108px #FFF , 1125px 1883px #FFF , 1428px 201px #FFF , 1510px 96px #FFF , 1787px 989px #FFF , 880px 215px #FFF , 1489px 540px #FFF , 1303px 1775px #FFF , 1840px 1271px #FFF , 579px 70px #FFF , 1184px 645px #FFF , 926px 288px #FFF , 297px 1066px #FFF , 470px 1443px #FFF , 789px 1541px #FFF , 71px 1782px #FFF , 461px 827px #FFF , 1284px 1847px #FFF , 428px 1678px #FFF , 1131px 1396px #FFF , 638px 853px #FFF , 514px 885px #FFF , 291px 1305px #FFF , 1493px 421px #FFF , 1271px 483px #FFF , 1584px 1370px #FFF , 629px 1727px #FFF , 1350px 1395px #FFF , 838px 896px #FFF , 1499px 729px #FFF , 494px 53px #FFF , 587px 999px #FFF , 138px 807px #FFF , 1521px 1483px #FFF , 1651px 31px #FFF , 1603px 806px #FFF , 298px 1711px #FFF , 17px 286px #FFF , 1553px 1561px #FFF , 1053px 1234px #FFF , 1217px 1336px #FFF , 1402px 1670px #FFF , 1671px 1436px #FFF , 1587px 1065px #FFF , 1063px 1376px #FFF , 812px 56px #FFF , 1336px 1781px #FFF , 950px 252px #FFF , 1412px 1934px #FFF , 1976px 1144px #FFF , 1818px 994px #FFF , 1120px 319px #FFF , 333px 541px #FFF , 1370px 71px #FFF , 958px 1424px #FFF , 291px 1600px #FFF , 1209px 444px #FFF , 934px 614px #FFF , 1767px 1802px #FFF , 1337px 860px #FFF , 48px 907px #FFF , 1470px 721px #FFF , 778px 924px #FFF , 674px 1170px #FFF , 949px 846px #FFF , 1118px 558px #FFF , 1072px 661px #FFF , 1857px 119px #FFF , 1620px 1531px #FFF , 323px 1869px #FFF , 1599px 1596px #FFF , 747px 1304px #FFF , 1903px 1535px #FFF , 712px 1269px #FFF , 1999px 822px #FFF , 1490px 111px #FFF , 1516px 1507px #FFF , 439px 45px #FFF , 1519px 1601px #FFF , 200px 1364px #FFF , 158px 1334px #FFF , 1037px 1463px #FFF , 1866px 1943px #FFF , 960px 928px #FFF , 1130px 144px #FFF , 1956px 1678px #FFF , 1121px 398px #FFF , 1228px 318px #FFF , 1693px 1658px #FFF , 1187px 329px #FFF , 642px 1469px #FFF , 1136px 1680px #FFF , 752px 1847px #FFF , 1459px 1290px #FFF , 1679px 975px #FFF , 80px 935px #FFF , 534px 680px #FFF , 359px 239px #FFF , 1717px 1047px #FFF , 1951px 180px #FFF , 1204px 539px #FFF , 1446px 826px #FFF , 337px 975px #FFF , 1669px 133px #FFF , 1589px 877px #FFF , 152px 981px #FFF , 42px 1620px #FFF , 1785px 248px #FFF , 1504px 594px #FFF , 1245px 924px #FFF , 523px 1600px #FFF , 1973px 283px #FFF , 1806px 1460px #FFF , 1238px 352px #FFF , 1914px 1824px #FFF , 1142px 341px #FFF , 1533px 1392px #FFF , 81px 108px #FFF , 632px 1426px #FFF , 1742px 1883px #FFF , 204px 1524px #FFF , 815px 1800px #FFF , 1657px 1601px #FFF , 84px 245px #FFF , 1428px 662px #FFF , 665px 468px #FFF , 724px 1275px #FFF , 1766px 1232px #FFF , 270px 1027px #FFF , 993px 1565px #FFF , 24px 1990px #FFF , 39px 941px #FFF , 437px 1502px #FFF , 1346px 1333px #FFF , 567px 162px #FFF , 1823px 480px #FFF , 562px 471px #FFF , 513px 689px #FFF , 266px 351px #FFF , 939px 1351px #FFF , 914px 65px #FFF , 600px 858px #FFF , 426px 429px #FFF , 1215px 1635px #FFF , 1036px 642px #FFF , 1105px 689px #FFF , 21px 343px #FFF , 1006px 1991px #FFF , 59px 811px #FFF , 1221px 618px #FFF , 1019px 401px #FFF , 1344px 223px #FFF , 1347px 1832px #FFF , 1861px 1577px #FFF , 385px 1376px #FFF , 587px 357px #FFF , 1075px 1719px #FFF , 544px 1079px #FFF , 1274px 128px #FFF , 445px 603px #FFF , 1730px 1530px #FFF , 495px 538px #FFF , 653px 947px #FFF , 658px 549px #FFF , 1578px 1867px #FFF , 1px 1393px #FFF , 651px 1780px #FFF , 344px 38px #FFF , 166px 731px #FFF , 1919px 305px #FFF , 35px 567px #FFF , 258px 1434px #FFF , 1344px 307px #FFF , 1320px 1657px #FFF , 1988px 646px #FFF , 1493px 541px #FFF , 1013px 1564px #FFF , 897px 1931px #FFF , 274px 376px #FFF , 1806px 202px #FFF , 1297px 788px #FFF , 1460px 1647px #FFF , 1257px 466px #FFF , 1146px 1312px #FFF , 306px 1326px #FFF , 1177px 1456px #FFF , 1041px 1764px #FFF , 1084px 1993px #FFF , 1162px 1207px #FFF , 1218px 1309px #FFF , 182px 1140px #FFF , 644px 305px #FFF , 1596px 956px #FFF , 1571px 895px #FFF , 1629px 843px #FFF , 245px 1549px #FFF , 1990px 345px #FFF , 436px 896px #FFF , 678px 193px #FFF , 501px 997px #FFF , 1751px 1972px #FFF , 1632px 1942px #FFF , 311px 1223px #FFF , 392px 62px #FFF , 1674px 978px #FFF , 1478px 1963px #FFF , 711px 515px #FFF , 33px 845px #FFF , 1295px 1401px #FFF , 155px 357px #FFF , 1669px 105px #FFF , 568px 1198px #FFF , 1078px 76px #FFF , 681px 1737px #FFF , 214px 1562px #FFF , 1847px 630px #FFF , 1784px 1561px #FFF , 752px 1396px #FFF , 57px 336px #FFF , 502px 602px #FFF , 1752px 1556px #FFF , 610px 1216px #FFF , 957px 1426px #FFF , 885px 906px #FFF , 438px 620px #FFF , 1783px 820px #FFF , 1880px 369px #FFF , 978px 409px #FFF , 1370px 10px #FFF , 213px 368px #FFF , 246px 1992px #FFF , 109px 493px #FFF , 1795px 600px #FFF , 1879px 1138px #FFF , 677px 176px #FFF , 76px 205px #FFF , 191px 1910px #FFF , 1295px 1937px #FFF , 563px 1954px #FFF , 384px 838px #FFF , 419px 1662px #FFF , 241px 288px #FFF , 67px 1816px #FFF , 1774px 632px #FFF , 1509px 303px #FFF , 715px 920px #FFF , 749px 1200px #FFF , 1224px 1684px #FFF , 1408px 1243px #FFF , 1326px 763px #FFF , 104px 1958px #FFF , 1808px 114px #FFF , 95px 990px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1094px 984px #FFF , 366px 1780px #FFF , 221px 1350px #FFF , 1958px 1582px #FFF , 1315px 699px #FFF , 1072px 711px #FFF , 33px 219px #FFF , 280px 215px #FFF , 1157px 1722px #FFF , 70px 1823px #FFF , 121px 347px #FFF , 666px 337px #FFF , 53px 1989px #FFF , 759px 729px #FFF , 930px 644px #FFF , 687px 875px #FFF , 967px 897px #FFF , 845px 738px #FFF , 1931px 217px #FFF , 419px 281px #FFF , 12px 544px #FFF , 786px 805px #FFF , 174px 181px #FFF , 1307px 304px #FFF , 1743px 1130px #FFF , 799px 173px #FFF , 1804px 1687px #FFF , 1260px 32px #FFF , 1318px 1529px #FFF , 1949px 1161px #FFF , 1075px 1045px #FFF , 1821px 128px #FFF , 1673px 1053px #FFF , 519px 449px #FFF , 1940px 477px #FFF , 490px 709px #FFF , 1319px 365px #FFF , 616px 945px #FFF , 1326px 806px #FFF , 1661px 1667px #FFF , 1517px 1357px #FFF , 183px 1921px #FFF , 812px 902px #FFF , 121px 941px #FFF , 1758px 1903px #FFF , 748px 1977px #FFF , 1397px 938px #FFF , 1838px 910px #FFF , 916px 1942px #FFF , 1972px 475px #FFF , 307px 249px #FFF , 444px 371px #FFF , 1615px 1171px #FFF , 495px 1777px #FFF , 903px 82px #FFF , 904px 483px #FFF , 1096px 1867px #FFF , 1760px 459px #FFF , 1500px 1704px #FFF , 1227px 686px #FFF , 554px 259px #FFF , 763px 1643px #FFF , 685px 601px #FFF , 1135px 1689px #FFF , 1608px 1465px #FFF , 279px 1760px #FFF , 1574px 1407px #FFF , 982px 1059px #FFF , 1515px 1561px #FFF , 186px 970px #FFF , 1815px 1928px #FFF , 602px 1524px #FFF , 1760px 1365px #FFF , 1825px 1730px #FFF , 1502px 1852px #FFF , 1730px 1910px #FFF , 233px 256px #FFF , 1045px 487px #FFF , 294px 1377px #FFF , 774px 330px #FFF , 1939px 1381px #FFF , 1589px 1900px #FFF , 608px 1741px #FFF , 1864px 1666px #FFF , 271px 987px #FFF , 1647px 200px #FFF , 1834px 926px #FFF , 277px 1620px #FFF , 1320px 1061px #FFF , 1084px 1504px #FFF , 185px 781px #FFF , 98px 1030px #FFF , 1458px 207px #FFF , 1513px 960px #FFF , 1971px 1832px #FFF , 1022px 896px #FFF , 749px 161px #FFF , 979px 830px #FFF , 295px 1842px #FFF , 1224px 762px #FFF , 1683px 1582px #FFF , 11px 1195px #FFF , 642px 1218px #FFF , 1238px 783px #FFF , 1916px 251px #FFF , 1613px 71px #FFF , 332px 315px #FFF , 856px 1209px #FFF , 489px 968px #FFF , 1877px 1753px #FFF , 801px 1395px #FFF , 1300px 1154px #FFF , 1816px 619px #FFF , 306px 473px #FFF , 1227px 287px #FFF , 1801px 1841px #FFF , 427px 1741px #FFF , 176px 74px #FFF , 1857px 578px #FFF , 1840px 1191px #FFF , 134px 1527px #FFF , 1900px 808px #FFF , 938px 1015px #FFF , 665px 1527px #FFF , 1408px 1044px #FFF , 834px 1838px #FFF , 904px 235px #FFF , 1331px 326px #FFF , 1662px 1761px #FFF , 1453px 759px #FFF , 267px 850px #FFF , 387px 1736px #FFF , 937px 1254px #FFF , 1898px 1159px #FFF , 405px 825px #FFF , 1716px 1752px #FFF , 1424px 202px #FFF , 1415px 45px #FFF , 131px 479px #FFF , 1089px 1361px #FFF , 137px 175px #FFF , 47px 1907px #FFF , 1246px 896px #FFF , 1516px 1208px #FFF , 1907px 444px #FFF , 662px 856px #FFF , 1100px 94px #FFF , 704px 1600px #FFF , 1219px 507px #FFF , 1487px 772px #FFF , 261px 467px #FFF , 901px 1022px #FFF , 1436px 991px #FFF , 709px 1289px #FFF , 577px 1250px #FFF , 649px 1425px #FFF , 147px 1876px #FFF , 1589px 53px #FFF , 1141px 872px #FFF , 1040px 334px #FFF , 152px 506px #FFF , 1781px 381px #FFF , 234px 138px #FFF , 1203px 134px #FFF , 667px 505px #FFF , 639px 1779px #FFF , 1383px 1920px #FFF , 369px 671px #FFF , 583px 1252px #FFF , 1070px 674px #FFF , 508px 1982px #FFF , 1881px 1142px #FFF , 836px 812px #FFF , 1617px 1227px #FFF , 493px 788px #FFF , 1163px 1327px #FFF , 116px 1875px #FFF , 787px 205px #FFF , 941px 649px #FFF , 365px 985px #FFF , 1535px 912px #FFF , 453px 1984px #FFF , 380px 1806px #FFF , 1697px 723px #FFF , 1384px 833px #FFF , 270px 861px #FFF , 1572px 937px #FFF , 279px 356px #FFF , 467px 542px #FFF , 963px 381px #FFF , 228px 1261px #FFF , 37px 525px #FFF , 1824px 1973px #FFF , 1911px 1390px #FFF , 1116px 744px #FFF , 1310px 548px #FFF , 425px 1428px #FFF , 107px 100px #FFF , 225px 734px #FFF , 903px 1478px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: -2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1094px 984px #FFF , 366px 1780px #FFF , 221px 1350px #FFF , 1958px 1582px #FFF , 1315px 699px #FFF , 1072px 711px #FFF , 33px 219px #FFF , 280px 215px #FFF , 1157px 1722px #FFF , 70px 1823px #FFF , 121px 347px #FFF , 666px 337px #FFF , 53px 1989px #FFF , 759px 729px #FFF , 930px 644px #FFF , 687px 875px #FFF , 967px 897px #FFF , 845px 738px #FFF , 1931px 217px #FFF , 419px 281px #FFF , 12px 544px #FFF , 786px 805px #FFF , 174px 181px #FFF , 1307px 304px #FFF , 1743px 1130px #FFF , 799px 173px #FFF , 1804px 1687px #FFF , 1260px 32px #FFF , 1318px 1529px #FFF , 1949px 1161px #FFF , 1075px 1045px #FFF , 1821px 128px #FFF , 1673px 1053px #FFF , 519px 449px #FFF , 1940px 477px #FFF , 490px 709px #FFF , 1319px 365px #FFF , 616px 945px #FFF , 1326px 806px #FFF , 1661px 1667px #FFF , 1517px 1357px #FFF , 183px 1921px #FFF , 812px 902px #FFF , 121px 941px #FFF , 1758px 1903px #FFF , 748px 1977px #FFF , 1397px 938px #FFF , 1838px 910px #FFF , 916px 1942px #FFF , 1972px 475px #FFF , 307px 249px #FFF , 444px 371px #FFF , 1615px 1171px #FFF , 495px 1777px #FFF , 903px 82px #FFF , 904px 483px #FFF , 1096px 1867px #FFF , 1760px 459px #FFF , 1500px 1704px #FFF , 1227px 686px #FFF , 554px 259px #FFF , 763px 1643px #FFF , 685px 601px #FFF , 1135px 1689px #FFF , 1608px 1465px #FFF , 279px 1760px #FFF , 1574px 1407px #FFF , 982px 1059px #FFF , 1515px 1561px #FFF , 186px 970px #FFF , 1815px 1928px #FFF , 602px 1524px #FFF , 1760px 1365px #FFF , 1825px 1730px #FFF , 1502px 1852px #FFF , 1730px 1910px #FFF , 233px 256px #FFF , 1045px 487px #FFF , 294px 1377px #FFF , 774px 330px #FFF , 1939px 1381px #FFF , 1589px 1900px #FFF , 608px 1741px #FFF , 1864px 1666px #FFF , 271px 987px #FFF , 1647px 200px #FFF , 1834px 926px #FFF , 277px 1620px #FFF , 1320px 1061px #FFF , 1084px 1504px #FFF , 185px 781px #FFF , 98px 1030px #FFF , 1458px 207px #FFF , 1513px 960px #FFF , 1971px 1832px #FFF , 1022px 896px #FFF , 749px 161px #FFF , 979px 830px #FFF , 295px 1842px #FFF , 1224px 762px #FFF , 1683px 1582px #FFF , 11px 1195px #FFF , 642px 1218px #FFF , 1238px 783px #FFF , 1916px 251px #FFF , 1613px 71px #FFF , 332px 315px #FFF , 856px 1209px #FFF , 489px 968px #FFF , 1877px 1753px #FFF , 801px 1395px #FFF , 1300px 1154px #FFF , 1816px 619px #FFF , 306px 473px #FFF , 1227px 287px #FFF , 1801px 1841px #FFF , 427px 1741px #FFF , 176px 74px #FFF , 1857px 578px #FFF , 1840px 1191px #FFF , 134px 1527px #FFF , 1900px 808px #FFF , 938px 1015px #FFF , 665px 1527px #FFF , 1408px 1044px #FFF , 834px 1838px #FFF , 904px 235px #FFF , 1331px 326px #FFF , 1662px 1761px #FFF , 1453px 759px #FFF , 267px 850px #FFF , 387px 1736px #FFF , 937px 1254px #FFF , 1898px 1159px #FFF , 405px 825px #FFF , 1716px 1752px #FFF , 1424px 202px #FFF , 1415px 45px #FFF , 131px 479px #FFF , 1089px 1361px #FFF , 137px 175px #FFF , 47px 1907px #FFF , 1246px 896px #FFF , 1516px 1208px #FFF , 1907px 444px #FFF , 662px 856px #FFF , 1100px 94px #FFF , 704px 1600px #FFF , 1219px 507px #FFF , 1487px 772px #FFF , 261px 467px #FFF , 901px 1022px #FFF , 1436px 991px #FFF , 709px 1289px #FFF , 577px 1250px #FFF , 649px 1425px #FFF , 147px 1876px #FFF , 1589px 53px #FFF , 1141px 872px #FFF , 1040px 334px #FFF , 152px 506px #FFF , 1781px 381px #FFF , 234px 138px #FFF , 1203px 134px #FFF , 667px 505px #FFF , 639px 1779px #FFF , 1383px 1920px #FFF , 369px 671px #FFF , 583px 1252px #FFF , 1070px 674px #FFF , 508px 1982px #FFF , 1881px 1142px #FFF , 836px 812px #FFF , 1617px 1227px #FFF , 493px 788px #FFF , 1163px 1327px #FFF , 116px 1875px #FFF , 787px 205px #FFF , 941px 649px #FFF , 365px 985px #FFF , 1535px 912px #FFF , 453px 1984px #FFF , 380px 1806px #FFF , 1697px 723px #FFF , 1384px 833px #FFF , 270px 861px #FFF , 1572px 937px #FFF , 279px 356px #FFF , 467px 542px #FFF , 963px 381px #FFF , 228px 1261px #FFF , 37px 525px #FFF , 1824px 1973px #FFF , 1911px 1390px #FFF , 1116px 744px #FFF , 1310px 548px #FFF , 425px 1428px #FFF , 107px 100px #FFF , 225px 734px #FFF , 903px 1478px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1685px 513px #FFF , 659px 1519px #FFF , 868px 943px #FFF , 295px 1567px #FFF , 120px 191px #FFF , 280px 1723px #FFF , 1286px 1706px #FFF , 1937px 963px #FFF , 423px 613px #FFF , 566px 136px #FFF , 480px 1779px #FFF , 1468px 1288px #FFF , 1365px 1855px #FFF , 1914px 584px #FFF , 107px 898px #FFF , 1885px 1146px #FFF , 857px 1322px #FFF , 238px 168px #FFF , 1385px 1867px #FFF , 1149px 1786px #FFF , 823px 483px #FFF , 460px 1072px #FFF , 1834px 1352px #FFF , 997px 513px #FFF , 1644px 514px #FFF , 842px 1554px #FFF , 1801px 1643px #FFF , 43px 1880px #FFF , 883px 249px #FFF , 386px 484px #FFF , 867px 154px #FFF , 1483px 46px #FFF , 426px 1759px #FFF , 1125px 1651px #FFF , 661px 662px #FFF , 1649px 417px #FFF , 1085px 1056px #FFF , 1736px 308px #FFF , 1867px 1974px #FFF , 43px 1324px #FFF , 1016px 459px #FFF , 1086px 1349px #FFF , 1752px 33px #FFF , 304px 2000px #FFF , 1730px 1447px #FFF , 543px 1531px #FFF , 1191px 1823px #FFF , 1129px 1432px #FFF , 6px 809px #FFF , 767px 186px #FFF , 89px 871px #FFF , 1101px 1798px #FFF , 609px 1970px #FFF , 1901px 1466px #FFF , 1570px 1161px #FFF , 915px 1239px #FFF , 1192px 1412px #FFF , 995px 1691px #FFF , 1767px 915px #FFF , 488px 1824px #FFF , 820px 168px #FFF , 283px 381px #FFF , 31px 1244px #FFF , 801px 977px #FFF , 177px 794px #FFF , 1559px 1823px #FFF , 1654px 1192px #FFF , 1903px 181px #FFF , 763px 1634px #FFF , 502px 1933px #FFF , 1787px 1275px #FFF , 1150px 819px #FFF , 571px 326px #FFF , 241px 1948px #FFF , 1056px 1952px #FFF , 808px 1010px #FFF , 724px 1388px #FFF , 182px 1832px #FFF , 249px 1657px #FFF , 147px 1636px #FFF , 171px 407px #FFF , 933px 1253px #FFF , 607px 849px #FFF , 471px 1565px #FFF , 306px 1005px #FFF , 1053px 784px #FFF , 707px 1617px #FFF , 1467px 1803px #FFF , 1807px 1981px #FFF , 1271px 1650px #FFF , 1914px 798px #FFF , 873px 1883px #FFF , 265px 1336px #FFF , 397px 581px #FFF , 1443px 1105px #FFF , 1138px 211px #FFF , 1728px 730px #FFF , 684px 412px #FFF , 154px 1578px #FFF , 1994px 1687px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: -2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1685px 513px #FFF , 659px 1519px #FFF , 868px 943px #FFF , 295px 1567px #FFF , 120px 191px #FFF , 280px 1723px #FFF , 1286px 1706px #FFF , 1937px 963px #FFF , 423px 613px #FFF , 566px 136px #FFF , 480px 1779px #FFF , 1468px 1288px #FFF , 1365px 1855px #FFF , 1914px 584px #FFF , 107px 898px #FFF , 1885px 1146px #FFF , 857px 1322px #FFF , 238px 168px #FFF , 1385px 1867px #FFF , 1149px 1786px #FFF , 823px 483px #FFF , 460px 1072px #FFF , 1834px 1352px #FFF , 997px 513px #FFF , 1644px 514px #FFF , 842px 1554px #FFF , 1801px 1643px #FFF , 43px 1880px #FFF , 883px 249px #FFF , 386px 484px #FFF , 867px 154px #FFF , 1483px 46px #FFF , 426px 1759px #FFF , 1125px 1651px #FFF , 661px 662px #FFF , 1649px 417px #FFF , 1085px 1056px #FFF , 1736px 308px #FFF , 1867px 1974px #FFF , 43px 1324px #FFF , 1016px 459px #FFF , 1086px 1349px #FFF , 1752px 33px #FFF , 304px 2000px #FFF , 1730px 1447px #FFF , 543px 1531px #FFF , 1191px 1823px #FFF , 1129px 1432px #FFF , 6px 809px #FFF , 767px 186px #FFF , 89px 871px #FFF , 1101px 1798px #FFF , 609px 1970px #FFF , 1901px 1466px #FFF , 1570px 1161px #FFF , 915px 1239px #FFF , 1192px 1412px #FFF , 995px 1691px #FFF , 1767px 915px #FFF , 488px 1824px #FFF , 820px 168px #FFF , 283px 381px #FFF , 31px 1244px #FFF , 801px 977px #FFF , 177px 794px #FFF , 1559px 1823px #FFF , 1654px 1192px #FFF , 1903px 181px #FFF , 763px 1634px #FFF , 502px 1933px #FFF , 1787px 1275px #FFF , 1150px 819px #FFF , 571px 326px #FFF , 241px 1948px #FFF , 1056px 1952px #FFF , 808px 1010px #FFF , 724px 1388px #FFF , 182px 1832px #FFF , 249px 1657px #FFF , 147px 1636px #FFF , 171px 407px #FFF , 933px 1253px #FFF , 607px 849px #FFF , 471px 1565px #FFF , 306px 1005px #FFF , 1053px 784px #FFF , 707px 1617px #FFF , 1467px 1803px #FFF , 1807px 1981px #FFF , 1271px 1650px #FFF , 1914px 798px #FFF , 873px 1883px #FFF , 265px 1336px #FFF , 397px 581px #FFF , 1443px 1105px #FFF , 1138px 211px #FFF , 1728px 730px #FFF , 684px 412px #FFF , 154px 1578px #FFF , 1994px 1687px #FFF;
}


#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(2000px);
  }
}
</style>





<body>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'></div>
</body>